.dashboardEmpty {
    display: flex;
    justify-content: center;
}

.dashboardEmpty > div {
    width: 100%;
}

.dashboard {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    gap: 24px;
}

/* Tablet and mobile */
@media (max-width: 1050px) {
    .dashboard {
        grid-template-columns: 1fr;
    }
}
